.projectsummary {
    font-size: 16px;
}
h2 {
    font-size: 18px;
}
body {
    padding-top:10px;
    padding-bottom: 2px;
    font-family: Arial, serif;
}
body.container{
    padding-bottom: 5px;
}
div#input {
    font-size: 100%;
}
.jumbotron p{
    margin-bottom: 5px;
}
.jumbotron {
    padding-top: 10px;
    padding-bottom: 5px;
}
input#scanID {
    width: 8%;
}
hr {
    margin-bottom: 7px;
    margin-top: 0px;
}
button#request {
    position: relative;
    left: 20px;
    background-color: #555555;
    color: white;
    border: none;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button#next1 {
    font-size: 100%;
    background-color: #555555;
    color: white;
    border: none;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*float: right;*/
}
button#prev1 {
    left: 100px;
    font-size: 100%;
    background-color: #555555;
    color: white;
    border: none;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin-right: 20%;*/
}
/*div#scanLevelOne {*/
/*    font-size: 150%;*/
/*}*/
span#scanid1{
    font-size: 100%;
}
#noScanLevelTwo{
    display: none;
}
p#scanid2 {
    font-size: 100%;
}
p.scanleveltitle{
    font-size: 14px;
}
svg#spectrum1{
    padding-left: 5px;
    width: 99% !important;
    height: 100% !important;
}
svg#spectrum2{
    padding: 0 !important;
    padding-top: 10px !important;
}
.ui-widget-content {
    background: #eee !important;
}
.ui-state-active {
    background: #5e5e5e !important;
    border: #5e5e5e !important;
}