body{
  padding-top: 20px;
}

.panel {
  padding: 20px 20px 20px 20px;
}

div.panel-heading {
  background-color: #f5f5f5;
}

.progress {
  margin-bottom:0px;
}

.progress .progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.table th {
	text-align: center;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0px;
}

#downloadModal {
	top: 100px;
	width: 500px;
	height: 370px;
	overflow: hidden;
	margin: 0 auto;
}

#myModal {
	top: 100px;
	width: 500px;
	height: 370px;
	overflow: hidden;
	margin: 0 auto;
}