<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Experiment</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/css/jquery.fileupload.css">
    <link rel='shortcut icon' type='image/x-icon' href='image/favicon.ico' />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154408351-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154408351-1');
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-11">
            <h2 style="color: #0099DD;"><strong>TopMSV</strong></h2>
        </div>
        <!--<div class="col-sm-1">
            <a href="/auth/google" id="signIn">Sign In</a>
        </div>-->
    </div>
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top: 0px;">
            <h3><strong>New Experiment</strong></h3>
            <br>
            <div class="form-group">
                <label for="selectProject">Project</label>
                <select id="selectProject" class="form-control">
                    <% for (var i = 0; i < projectList.length; i++) { %>
                        <option value="<%= projectList[i].pid%>"><%= projectList[i].projectName%></option>
                    <% } %>
                </select>
                <label for="experiment_Name">Experiment Name</label>
                <input type="text" class="form-control" id="experiment_Name" name="experiment_Name" placeholder="Experiment Name">
                <label for="description">Experiment Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Experiment Description">
<!--                <input type="checkbox" class="form-check-input" id="public" name="public">-->
<!--                <label class="form-check-label" for="public">Public</label>-->
            </div>

            <button type="button" class="btn btn-primary" id="createButton" style="margin-top: 8px;">Confirm</button>
        </div>
    </div>
</div>
<script src="lib/js/jquery-3.6.0.min.js"></script>
<script src="lib/js/jquery-ui.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/createExperiment.js"></script>

</body>
</html>